<!DOCTYPE html>

<html>

    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>Error: 404</p>
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>
    
</html>